.card {
    background-repeat: no-repeat;

    &__title {  
        font-size: 20px !important;
        line-height: 24px;
        color: $color-primary; 
        margin-bottom: 0;   
        padding-bottom: 20px;  
        position: relative;

        &::before{
            content: "";
            background: #c4c4c4;
            width: 100px;
            height: 1px;
            position:absolute;
            bottom: 0;
            left: 0;
        } 
    }

    &__title span{
        background: linear-gradient(180deg, rgba(231, 245, 255, 0.47) 0%, #ddedf9 100%);
        background-size: 100% 10px;
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    &__btn{
        margin: 0 auto 40px auto;
        display: block;
    }

    &__btn-close{
        display: block;
        margin: 0 auto;
    }

    &__bg{
        margin-bottom: 10px;
    }
}   

.padding-none{
    padding-bottom: 0 !important;
}

@media screen and (max-width:1380px){
    .services__list{
        grid-template-columns: repeat(3,300px);
        justify-content: center;
    }

    .services__card:nth-child(4),
    .services__card:nth-child(8){
        transform: translateY(30px);
    }
    
}

@media screen and (max-width:992px){
    .services__list{
        grid-template-columns: repeat(2,300px);
        padding-bottom: 70px;
    }

    .services__card:nth-child(6),
    .services__card:nth-child(8){
        transform: translateY(-55px);
    }

    .services__card:nth-child(3){
        transform: translateY(35px);
    }

    .services__card:nth-child(4){
        transform: translateY(70px);
    }

    .acardion__item:nth-child(3){
        transform: translateY(10px) !important;
    }

    .acardion__item:nth-child(5),
    .acardion__item:last-child{
        transform: translateY(0);
    }
}

@media screen and (max-width:680px){
    .services__list{
        grid-template-columns: repeat(2,280px);
    }
    .services__card{
        transform: translateY(0) !important;
        max-width: 500px;

        &:nth-child(4){
            background-position: bottom right;
        }
    }

}

@media screen and (max-width:650px){
    .services__list{
        grid-template-columns: repeat(2,260px);
    }

    .acardion__item,
    .services__card{
        transform: translateY(0);
    }

    .card__title{
        font-size: 12px !important;
        line-height: 15px;
    }

    .services__card{
        padding: 10px !important;
        height: 205px !important;
    }

    
}

@media screen and (max-width:576px){
    .services__list{
        grid-template-columns: repeat(2,160px);
        grid-gap: 20px;
        padding-bottom: 30px;
    }

    .card__btn{
        font-size: 14px;
        line-height: 14px;
        padding: 8px 12px;
    }

    .acardion{
        padding-bottom: 30px !important;
    }

    .services{
        padding-bottom: 50px;
    }
    

    .services__title{
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 40px;
    }
}


@media screen and (max-width:360px){
    .services__list{
        grid-template-columns: repeat(2,130px);
    }
}