.header {
    padding: 20px 0;

    &__img-link {
        width: 66px;
        height: 60px;
        @include d-flex;
        justify-content: center;
        transition: opacity 0.4s ease;

        &:hover{
            opacity: 0.8;
        }

        &:active{
            opacity: 0.6;
        }
    }


    &__tel {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $color-primary;   
        @include hover-active;
    }

    &__tell-label {
        font-weight: 600;
        font-size: 12px;
        line-height: 10px;
        color: #489dd7;
    }

    &__btns-box{
        display: none;
    }

    &__btns {
        @include d-flex;
        justify-content: center;
        border: none;
        background: none;
        break-before: 10px;
        font-size: 30px;
        color: $color-primary;
        

        &:not(:last-child){
            margin-right: 20px;
        }
	}
    
	&__top-btn {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $btn-color;
        opacity: 0.6;
        text-decoration: none;
        transition: color 0.4s ease;
        
        &:not(:last-child){
            margin-right: 30px;
        }
	}

    &__burger-btn{
        display: none;
        background: none;
        border: none;
        padding: 0;
    }

}

@media screen and (max-width:992px){
    .header__burger-btn{
        display: flex;
    }

    .header__top-btn-box{
        display: none;
    }
}