.working {
    padding-bottom: 100px;
    overflow: hidden;

    &__top-title {
        @include top-title;
    }

    &__row{
        padding-bottom: 200px;
    }

    &__col{
        padding-left: 40px;
        position: relative;
    }

    &__col{
        max-width: 580px;
        max-width: 651px
    }

    &__title {
        @include title;
        max-width: 821px;
        margin: 0 auto 75px auto;
    }

    &__carousel-indicators{
        position:static;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    &__texts{
        transform: rotate(-90deg);
        position:absolute;
        left: 0;
        top: 0;
    }

    &__texts--before{
        left: -75px;
        top: 72px;
    }

    &__texts--after{
        left: -93px;
        top: 95px;
    }

    &__desc {
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;
        color: $color-primary;
        @include d-flex;

        &::after{
            content: "";
            display: inline-block;
            width: 120px;
            height: 1px;
            background:#000;
            margin-left: 20px;
        }
    }

    &__img{
        width: 531px;
        height: 100%;
        object-fit: cover;
    }

    &__col:nth-child(2){
        transform: translateY(145px);
    }

    &__btns-box{
        max-width: 335px;
        margin: 0 auto;
    }

	&__btns-box button{
        @include d-flex;
        justify-content: center;
        border: none;
        background: none
	}

	&__left-btn {
        @include slider-btn;
        margin-right: 60px;
	}

	&__round-btn {   
        width: 0 !important;
        height: 0 !important;
        display: block;
        padding: 3px !important;
        background: #c4c4c4 !important;
        border-radius: 50%;
        margin: 0 27px 0 0 !important;
        position: relative;
        border: none !important;


        &::before{
            position:absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            content: "";
            width: 20px;
            height: 20px;
            background: transparent;
            border: 1px solid #c4c4c4;
            border-radius:50%;
            opacity: 0;
        }
	}

    & .active::before{
        opacity: 1;
    }

	&__right-btn {
        @include slider-btn;
        margin-left: 60px;
	}

    &__round-btn--margin{
        margin-right: 0 !important;
    }

}

@media screen and (max-width:1300px){
    .working__col{
        width: 400px;
        height: 500px;
    }
    .working__row{
        justify-content: space-around !important;
    }
}

@media screen and (max-width:992px){
    .working__col{
        width: 300px;
        height: 400px;
    }

    .working__row {
        padding-bottom: 100px;
    }
    .working__left-btn{
        margin-right: 25px;
    }
    .working__right-btn{
        margin-left: 25px;
    }

    .working__btns-box {
        max-width: 265px;
    }
}

@media screen and (max-width:768px){
    .working__col{
        width: 250px;
        height: 350px;
    }
    .working__left-btn,
    .working__right-btn{
        font-size: 20px;
    }

    .working__round-btn{
        padding: 2px !important;

        &::before{
            width: 10px;
            height: 10px;
        }
    }
}

@media screen and (max-width:576px){
    .working__col{
        width: 200px;
        height: 300px;
    }

    .working__title{
        font-size: 22px;
        line-height: 25px;
    }
    .working__desc{
        font-size: 18px;

        &::after{
            width: 70px;
        }
    }

    .working__texts--after {
        left: -50px;
        top: 63px;
    }

    .working__texts--before {
        left: -35px;
        top: 46px;
    }

    .working__btns-box {
        max-width: 245px;
    }
}


@media screen and (max-width:450px){
    .working__col{
        width: 150px;
        height: 250px;

        &:nth-child(2){
            transform: translateY(74px);
        }
    }

    .working__row{
        padding-bottom: 15px;
    }

    .working__carousel-indicators{
        display: none;
    }

    .working__btns-box {
        max-width: 115px;
    }


    .working__desc{
        font-size: 15px;

        &::after{
            width: 50px;
        }
    }

    .working__texts--after {
        left: -34px;
        top: 47px;
    }

    .working__texts--before {
        left: -20px;
        top: 34px;
    }
    
}